<!DOCTYPE html>
<html>
<head th:replace="fragments/headers :: common_header(#{view.station.title})"/>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<table id="tableStations" class="display" style="width:100%">
	        <thead>
	            <tr>
	                <th>Code</th>
	                <th>IntCode</th>
	                <th>Name</th>
	                <th>Active</th>
	                <th>Latitude</th>
	                <th>Longitude</th>
	            </tr>
	        </thead>
	        <tbody>
	           <tr th:each="station : ${stations}">
		        <td th:text="${station.id}"/>
		        <td th:text="${station.intCode}"/>
		        <td th:text="${station.name}"/>
		        <td th:text="${station.active}"/>
		        <td th:text="${station.latitude}"/>
		        <td th:text="${station.longitude}"/>
		      </tr>
	         </tbody>
	    </table>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#tableStations').DataTable();
		} );
	</script>
</body>
</html>