<!DOCTYPE html>
<html>
<head th:fragment="common_header (pageTitle)">
   <title th:text="${pageTitle}"> Subcontractor Evaluation</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   
   <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
   
   <script th:src="@{~/SubContractorEvaluation/webjars/jquery/3.1.1/jquery.min.js}"/>
   <script th:src="@{~/SubContractorEvaluation/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"/>
   
   <script th:src="@{~/SubContractorEvaluation/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"/>
   <link rel="stylesheet" media="screen" th:href="@{~/SubContractorEvaluation/webjars/datatables/1.10.16/css/jquery.dataTables.min.css}"/>
   
   <script th:src="@{~/SubContractorEvaluation/webjars/bootstrap/3.0.0/js/bootstrap.min.js}"/>
   <link rel="stylesheet" media="screen" th:href="@{~/SubContractorEvaluation/webjars/bootstrap/3.0.0/css/bootstrap.min.css}"/>
</head>
</html>